In [33]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
df = pd.read_csv("bird_dino_data.csv")
df.head()

,Species ID,Bird vs Dino,Body Mass (kg),Olfactory bulbs (cm3),Cerebrum (cm3),Optic Lobes (cm3),Cerebellum (cm3),Brain Stem (cm3),Brain Volume (cm3)
0,1,B,0.02,0.009,1.53,0.20,0.16,0.06,1.96
1,2,B,1.26,0.006,16.81,2.84,1.70,0.68,22.04
2,3,B,2.18,0.026,11.08,1.95,0.89,1.15,15.10
3,4,D,0.25,0.050,0.41,0.16,0.09,0.12,0.83
4,5,B,0.01,0.003,1.57,0.20,0.34,0.08,2.19

In [9]:
#Brain5: 0.6 cm3 (cerebrum values for each brain)

In [10]:
def bodymass(FL):
    bodymass = 10**(3.1854*np.log10(FL)-3.184)/1000
    return(bodymass)

In [11]:
bodymass(70)

0.49360016552375785

In [12]:
birds = df.loc[df["Bird vs Dino"] == "B"]
dinos = df.loc[df["Bird vs Dino"] == "D"]

In [14]:
birds.head()

,Species ID,Bird vs Dino,Body Mass (kg),Olfactory bulbs (cm3),Cerebrum (cm3),Optic Lobes (cm3),Cerebellum (cm3),Brain Stem (cm3),Brain Volume (cm3)
0,1,B,0.02,0.009,1.53,0.20,0.16,0.06,1.96
1,2,B,1.26,0.006,16.81,2.84,1.70,0.68,22.04
2,3,B,2.18,0.026,11.08,1.95,0.89,1.15,15.10
4,5,B,0.01,0.003,1.57,0.20,0.34,0.08,2.19
7,8,B,0.90,0.234,5.95,0.99,0.96,0.55,8.68

In [15]:
dinos.head()

,Species ID,Bird vs Dino,Body Mass (kg),Olfactory bulbs (cm3),Cerebrum (cm3),Optic Lobes (cm3),Cerebellum (cm3),Brain Stem (cm3),Brain Volume (cm3)
3,4,D,0.25,0.050,0.41,0.16,0.09,0.12,0.83
5,6,D,85.96,0.569,9.52,3.60,5.16,3.78,22.63
6,7,D,0.50,0.077,0.60,0.36,0.24,0.17,1.45
9,10,D,12.61,0.028,3.71,1.31,1.60,2.17,8.82
14,15,D,49.30,1.080,14.81,4.75,3.16,2.35,26.15

In [30]:
def brain2body(letter):
    if letter == "B":
        b = df.loc[df["Bird vs Dino"] == "B"].copy()
        ratio = ((b["Brain Volume (cm3)"]/b["Body Mass (kg)"])/1000).mean()
    if letter == "D":
        d = df.loc[df["Bird vs Dino"] == "D"].copy()
        ratio = ((d["Brain Volume (cm3)"]/d["Body Mass (kg)"])/1000).mean()
    return ratio

In [31]:
brain2body("B")

0.047832283820074345

In [32]:
brain2body("D")

0.0016106496539985663

In [22]:
def cerebrum(letter):
    if letter == "B":
        b = df.loc[df["Bird vs Dino"] == "B"].copy()
        ratio = (b["Cerebrum (cm3)"]/b["Brain Volume (cm3)"]).mean()
    if letter == "D":
        d = df.loc[df["Bird vs Dino"] == "D"].copy()
        ratio = (d["Cerebrum (cm3)"]/d["Brain Volume (cm3)"]).mean()
    return ratio

In [23]:
cerebrum("B")

0.6649507745281171

In [24]:
cerebrum("D")

0.4695339305450895

In [25]:
def ratio(brainvol, fl):
    theropodmass = 10**(3.1854*np.log10(fl)-3.184)/1000
    btb = brainvol/theropodmass
    return btb

In [26]:
ratio(1.44,70)

2.9173409990088226